.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-connector {
  background-color: #404753;
  margin: 15px;
  padding: 10px;
}

.App-connector h2 {
  margin: 0 0 15px 0;
}

.App-connector button {
  font-size: calc(10px + 1.2vmin);
}

.App p {
  font-size: calc(10px + 1vmin);
  margin: 5px;
}
